.moves {
    display: flex;
    flex-direction: row;
    margin:2rem;
    justify-content: center;
}
button {
    background-color: rgb(149, 125, 173);
   color: bisque;
}
#reset {
  background-color:rgb(149, 125, 173) ;
  color: bisque;
}
body{
    background-color:rgb(224, 187, 228);
    display: flex;
    justify-content: center;
}
.shifoumi {
   background-color: beige;
   display: flex ;
  flex-direction: column;
}