.moves {
    display: flex;
    flex-direction: row;
    margin:4rem;
    justify-content: center;
}
button {
    background-color: rgb(149, 125, 173);
   color: bisque;
   size: 3rem;
   font-size: 1rem;
}
#reset {
  background-color:rgb(149, 125, 173) ;
  color: bisque;
  padding: 2rem;
}
body{
    background-color:rgb(224, 187, 228);
}
.shifoumi {
   display: flex ;
  flex-direction: column;
  padding: 6rem;
}